.CodeMirror-fullscreen {
  position: fixed;
  top: 45px; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
  transition: 0.5s;
}
#code{
  autocomplete:"on"
  transition: 0.5s;
}
#MenuBar {
  color: #FFFFFF;
  position:fixed;
  top: 0; left: 45px; right: 0;
  height: 40px;
  z-index: 8;
  transition: 0.5s;
}
body{
  background: #000000;
  font-family: "Lato", sans-serif;
}
#TitleArea {
  padding-top: 5px;
  padding-left: 12px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  color: #f1f1f1;
}
#TitleArea div:hover, .offcanvas div:focus{
    color: #FFF;
}
#Compile {
  float: right;
  padding-top: .6em;
  padding-right: 1em;
}
#Upload {
  float: right;
  padding-top: .6em;
  padding-right: 1em;
}
#icon {
  padding:-20,-20,0,0;
  width: 30px;
  height:30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
}

#currentPage {
  font-size: 14;
}